@import "globals/hack-variables.scss";

.nameCard {
    height: auto;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #3a4665; //or black
    font: Courier-New
    
}

.title {
    color: white;
    vertical-align: top;
    margin-top: 1%;
    font: Georgia;
    font-size: 40px;
}

.navigation {
    position: absolute;
    left: 0;
}

.navItem{
    color: white;
    margin-top: 50%;
    margin-left: 50%;
    font: Georgia;
    font-size: 20px;
}