@import "globals/hack-variables.scss";

.app {
  text-align: center;
  background-image: linear-gradient(to right, $roseanne-left, $roseanne-right);
  min-height: 100vh;
  width: 100%;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: black;
}